#$blue: #a3d5d3;
#$pressable: #123456;

body {

}

button{
  background-color: #123456;
  color: white;
  font-size: 1.2vw;
  border: 0px;
  height: 35px;
  width: 20vw;
  font-family: Helvetica;
}

h1 {
  font-family: Helvetica;
  font-size: 12vh;
  color: #a3d5d3;
}
